.main {
    width: 100%;
    height: 100%;
}

.title {
    padding: 10px 0 10px 0;
    display: block;
    margin: auto;
    background: linear-gradient(to bottom, rgb(25, 131, 99), rgb(10, 100, 78));
    color: white;
    font-size: 16pt;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
}

.img {
    height: 30%;
    width: 30%;
    margin: auto;
    padding: 10px 10px 10px 10px;
    display: inline-block;
}

.info {
    padding: 10px 10px 10px 10px;
    height: 60%;
    width: 65%;
    display: inline-block;
    vertical-align: top;
}

.item {
    display: block;
    width: 100%;
    height: max-content;
    padding-top: 5px;
    color: rgb(10, 100, 78);
}

.item_title {
    display: inline-block;
    left: 0;
    width: 30%;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: 9pt;
    vertical-align: top;
}

.item_value {
    display: inline-block;
    left: 50%;
    width: 70%;
    text-align: right;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 11pt;
}

.basket_btn {
    width: 100% !important;
    vertical-align: bottom;
    padding-top: 30%;
    > button {
        width: inherit;
        height: 40px;
        font-size: 15pt;
    }
}